img {
    max-width: 300px;
    margin-top: 25px;
}

;
body {
    margin-top: 30px;
    background-color: #243842;
}

h1 {
    font-family: 'Lobster', Times New Roman;
}

#theCard {
    background-color: #E6E6FF;
}

#main-body{
    margin-top: 30px;
    background-color: #243842;    
}

p{
    margin-left: 9px;
    margin-top: 16px;
}