$color:hsl(240, 100%, 95%);
$body:hsl(200, 30%, 20%); 

img {
  max-width: 300px;
  margin-top:25px;
};

body {
  margin-top: 30px;
  background-color: $body;
}

h1 {
  font-family: 'Lobster', Times New Roman;
}

#theCard {
  background-color: $color;
}